h1{
    font-family: SansSerif;
    align-self: center;
    font-size: 20px;
    
    
}

h2 {
    font-family: sans-serif;
    font-size: 16px;
    align-self: center;
    font-style: italic;
}